.page-background {
  background-image: url("../pictures/War_Machine_Marvel.jpeg");
  background-size: auto;
  background-position: 100%;
  background-repeat: no-repeat;
  margin: 0 auto;
  background-color: #0d0b10;
}
